{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="{% static 'shop/css/base.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shop/css/header.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'shop/css/footer.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        {% for elem in header_menu %}
            {% if not forloop.last %}
                <a class="ref-like-text header-elems" href="{% url elem.url_name %}">{{ elem.title }}</a>
            {% endif %}
        {% endfor %}
    </header>


    <footer></footer>
</body>
</html>